project_id                         = "your-gcp-project-id"
region                             = "us-central1"
environment                        = "dev"
app_domain                         = "app.example.com"
artifact_registry_repository_id    = "croviq-api"
api_runtime_service_account_id     = "croviq-api-runtime"
github_deployer_service_account_id = "croviq-github-deployer"
workload_identity_pool_id          = "github-actions-pool"
workload_identity_pool_provider_id = "github-actions-provider"
github_repository_owner            = "Fadyio"
github_repository_name             = "Croviq"
